<div class="garanty__flex">
  <div class="column__1">
    <div class="garanty__info">
      <figure class="garanty__image "><img src="https://cdn.shopify.com/s/files/1/0267/8970/7854/files/France.svg?1921" alt="{{ block.settings.image.alt | default: shop.name }}"></figure>
      <p>Sans céréales pour une <strong>meilleure digestion</strong></p>
    </div>
    <div class="garanty__info">
      <figure class="garanty__image "><img src="https://cdn.shopify.com/s/files/1/0267/8970/7854/files/Loupe.svg?1921" alt="{{ block.settings.image.alt | default: shop.name }}"></figure>
      <p>Sans additifs artificiels, recette <strong>100% naturelle</strong></p>
    </div>
    <div class="garanty__info">
      <figure class="garanty__image "><img src="https://cdn.shopify.com/s/files/1/0267/8970/7854/files/feuille.svg?1842" alt="{{ block.settings.image.alt | default: shop.name }}"></figure>
      <p>Une seule source de protéines pour limiter les <strong>risques d'allergies</strong></p>
    </div>
  </div>
  <div class="column__2">
    <div class="garanty__info">
      <figure class="garanty__image "><img src="https://cdn.shopify.com/s/files/1/0267/8970/7854/files/France.svg?1921" alt="{{ block.settings.image.alt | default: shop.name }}"></figure>
      <p>Sans céréales pour une <strong>meilleure digestion</strong></p>
    </div>
    <div class="garanty__info">
      <figure class="garanty__image "><img src="https://cdn.shopify.com/s/files/1/0267/8970/7854/files/Loupe.svg?1921" alt="{{ block.settings.image.alt | default: shop.name }}"></figure>
      <p>Sans additifs artificiels, recette <strong>100% naturelle</strong></p>
    </div>
    <div class="garanty__info">
      <figure class="garanty__image "><img src="https://cdn.shopify.com/s/files/1/0267/8970/7854/files/feuille.svg?1842" alt="{{ block.settings.image.alt | default: shop.name }}"></figure>
      <p>Une seule source de protéines pour limiter les <strong>risques d'allergies</strong></p>
    </div>
 </div>
</div>
