<section class="Section {% unless section.settings.image %}Section--spacingNormal{% endunless %} TextImageBackground">
  <div class="grid grid--center grid--middle {% if section.settings.image_position == "right" %} grid--rev {% endif %}">
    <div class="1/2--lap-and-up grid__cell">
      {%- if section.settings.image != blank -%}
        <div class="FeatureText__ImageWrapper">
          {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: section.settings.image -%}{%- endcapture -%}
          {%- capture supported_sizes_mobile -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: section.settings.image-mobile -%}{%- endcapture -%}
          {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign image_url_mobile = section.settings.image-mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

           <img class="Image--lazyLoad Image--slide{{ section.settings.image_position | capitalize }} {% if section.settings.image-mobile != blank %} desktop-only {% endif %}" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">
          <noscript>
           <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
          </noscript>
          {% if section.settings.image-mobile != blank %}
            <img class="pocket-only Image--lazyLoad Image--slide{{ section.settings.image_position | capitalize }}" data-src="{{ image_url_mobile }}" data-expand="-200" data-widths="[{{ supported_sizes_mobile }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">
            <noscript>
              <img class="pocket-only" src="{{ section.settings.image-mobile | img_url: '800x' }}" alt="{{ section.settings.image-mobile.alt | escape }}">
            </noscript>
          {% endif %}
        </div>
      {%- endif -%}
    </div>
    <div class="1/2--lap-and-up grid__cell">
       <div class="text_image--content">
          {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <header class="SectionHeader">
              {%- if section.settings.subheading != blank -%}
                <h3 class="SubHeading__Wavy text_image--subtitle u-h3">{{ section.settings.subheading | escape }}</h3> 
              {%- endif -%}

              {%- if section.settings.title != blank -%}
                <h2 class="SectionHeader__Heading text_image--title HeadingPosterama u-h1">{{ section.settings.title | escape }}</h2>
              {%- endif -%}

              {%- if section.settings.content != blank -%}
                <div class="SectionHeader__Description text_image--text Rte">
                  {{ section.settings.content }}
                </div>
              {%- endif -%}

              {%- if section.settings.link_text != blank -%}
                <a href="{{ section.settings.link_url }}" class="Button Button--secondary">{{ section.settings.link_text | escape }}</a>
              {%- endif -%}
            </header>
          {%- endif -%}
       </div>
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Text with image custom",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 1200px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "image-mobile",
      "label": "Image mobile"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>",
      "info": "Include class 'listcolor-1 or listcolor-2'"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Text with image custom",
      "settings": {}
    }
  ]
}
{% endschema %}
